<div class="navigation">
    <div class="left-links">
        <a href='/' class="navigation-link">Main page</a>
        <a href='/feedback' class="navigation-link">Give feedback</a>
    </div>
    <a href='/admin/new-post' class="navigation-link login-link">New post</a>
    <a href='/admin/view-feedbacks' class="navigation-link login-link">View feedbacks</a>
    <a href='/admin/view-issues' class="navigation-link login-link">View issues</a>
</div>
