<div class="navigation">
    <div class="left-links">
        <a href='/' class="navigation-link">Main page</a>
        <a href='/feedback' class="navigation-link">Give feedback</a>
        <a href='/view-feedbacks' class="navigation-link">View feedbacks</a>
    </div>
    <a href="/admin/login" class="navigation-link login-link">Login</a>
</div>
