<h1>Welcome to the homepage of {{title}}</h1>
<br>
{{> navigation}}
<br>
<div class="maincontent">
    <div id="row1">
        <div class="infobox">
            <p>Thank you for your feedback.</p>
        </div>
    </div>
</div>